/*RESPONSIVE*/
@media (max-width: 768px) {
    .nuestraHistoria iframe {
        max-height: 400px;
    }
}


@media (max-width:768px) {
    .fotosHyM {
        display: flex;
        flex-direction: column;
    }

    .fotosHyM .fotoHombre .fotoMujer .fotosInd img {
        height: auto;
        width: 100vh;
        padding-right: 120px;
        object-fit: cover;
    }

    .fotoMujer p {
        padding-top: 0;
    }

    .fotoHombre p {
        padding-top: 0;
    }

    .comprar {
        background-color: #131212;
        padding: 10px 15px;
        border-radius: 20px;
        border: none;
        margin-top: 10px;
        display: inline-block;
        margin-bottom: 24px;
    }

    .comprar a {
        text-decoration: none;
        font-size: 23px;
        color: $color-secundario;
    }
}

@media (max-width:768px) {
    .mapa iframe {
        width: 100%;
        height: 80vh;
        padding: 90px 60px;
    }
    form {
        padding-left: 20%;
        padding-right: 20%;
    }
}
.wathsapp {
    @include logo-wspp (fixed,80px,20px,20px,pointer)
}
